<template>
  <div class="custom-actions">
    <span v-if="rowData.packed" class="btn btn-sm">
      <i class="glyphicon glyphicon-ok-sign"></i>
    </span>
    <button v-else class="btn btn-sm" @click="pack(rowData)">
      <i class="glyphicon glyphicon glyphicon-briefcase"></i>
    </button>
    <button v-if="rowData.moviebyposter == null && rowData.moviebytrailer == null && rowData.moviebyvideo == null" class="btn btn-sm" @click="remove(rowData)">
      <i class="glyphicon glyphicon glyphicon-trash"></i>
    </button>
  </div>
</template>

<script>
export default {
  props: {
    rowData: {
      type: Object,
      required: true
    },
    rowIndex: {
      type: Number
    }
  },
  methods: {
    pack (data) {
      this.$parent.$parent.persistItem('post', '/pack', {'id': data.id});
    },
    remove (data) {
      this.$parent.$parent.persistItem('delete', '/files/' + data.id);
    }
  }
}
</script>

<style>
  .custom-actions button.ui.button {
    padding: 8px 8px;
  }
  .custom-actions button.ui.button > i.icon {
    margin: auto !important;
  }
</style>
