<template>
  <div @click="onClick">
    <div class="inline field">
      <label>Name: </label>
      <span>{{rowData.name}}</span>
    </div>
    <div v-if="rowData.moviebyvideo" class="inline field">
      <label>As movie file for: </label>
      <span>{{rowData.moviebyvideo.title}}</span>
    </div>
     <div v-if="rowData.moviebyposter" class="inline field">
      <label>As image file for: </label>
      <span>{{rowData.moviebyposter.title}}</span>
    </div>
     <div v-if="rowData.moviebytrailer" class="inline field">
      <label>As trailer file for: </label>
      <span>{{rowData.moviebytrailer.title}}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    rowData: {
      type: Object,
      required: true
    },
    rowIndex: {
      type: Number
    }
  },
  methods: {
    onClick (event) {
      console.log('my-detail-row: on-click', event.target)
    }
  },
}
</script>

<style>
  img{
    height: 200px;
    width: 150px;
  }
</style>
