<template>
  <div @click="onClick">
    <div v-if="rowData.poster"  class="pull-right">
      <img :src="'/storage/images/' + rowData.poster.name">
    </div>
    <div class="inline field">
      <label>Title: </label>
      <span>{{rowData.title}}</span>
    </div>
    <div class="inline field">
      <label>Duration: </label>
      <span>{{rowData.duration}}</span>
    </div>
    <div class="inline field">
      <label>Directors: </label>
      <span>{{rowData.directors}}</span>
    </div>
    <div class="inline field">
      <label>Stars: </label>
      <span>{{rowData.stars}}</span>
    </div>
    <div class="inline field">
      <label>Introduction: </label>
      <span>{{rowData.introduction}}</span>
    </div>
    <div class="inline field">
      <label>Year: </label>
      <span>{{rowData.year}}</span>
    </div>
    <div class="inline field">
      <label>Imdb ID: </label>
      <span>{{rowData.imdb_id}}</span>
    </div>
    <div class="inline field">
      <label>Video file: </label>
      <span v-if="rowData.video" >{{rowData.video.name}}</span>
    </div>
    <div class="inline field">
      <label>Available: </label>
      <span>{{rowData.available}}</span>
    </div>
    <div class="inline field">
      <label>Trailer file: </label>
      <span v-if="rowData.trailer">{{rowData.trailer.name}}</span>
    </div>
    <div class="inline field">
      <label>PG level: </label>
      <span>{{rowData.pg_lvl}}</span>
    </div>
    <div class="inline field">
      <label>Price for 3 days: </label>
      <span>{{rowData.price3days}}</span>
    </div>
    <div class="inline field">
      <label>Original price: </label>
      <span>{{rowData.original_price}}</span>
    </div>
    <div class="inline field">
      <label>Discounted price: </label>
      <span>{{rowData.discounted_price}}</span>
    </div>
    <div class="inline field">
      <label>Free to VIP: </label>
      <span>{{rowData.free_to_vip}}</span>
    </div>
    <div class="inline field">
      <label>Genres: </label>
        <span v-if="rowData.genres" v-for="genre in rowData.genres" :index="genre.id">{{genre.name}} </span>
    </div>
    <div class="inline field">
      <label>Audio language: </label>
      <span>{{rowData.audio_language}}</span>
    </div>
    <div class="inline field">
      <label>Subtitle language: </label>
      <span>{{rowData.subtitle_language}}</span>
    </div>
    <div class="inline field">
      <label>Recommended: </label>
      <span>{{rowData.recommended}}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    rootUrl: Vue.rootUrl,
    rowData: {
      type: Object,
      required: true
    },
    rowIndex: {
      type: Number
    }
  },
  methods: {
    onClick (event) {
      console.log('my-detail-row: on-click', event.target)
    }
  },
}
</script>

<style>
  img{
    height: 200px;
    width: 150px;
  }
</style>
