<template>
  <div class="custom-actions">
    <button class="btn btn-sm" @click="itemAction('edit', rowData, rowIndex)"><i class="glyphicon glyphicon-pencil"></i></button>
    <button class="btn btn-sm" @click="itemAction('delete', rowData, rowIndex)"><i class="glyphicon glyphicon-trash"></i></button>
    <button v-show="rowData.video" v-if="!rowData.pushed" class="btn btn-sm" @click="pushFile(rowData)">Push <i class="glyphicon glyphicon-upload"></i></button>
    <button v-else="!rowData.pushed" class="btn btn-sm" @click="unpushFile(rowData)">Unpush <i class="glyphicon glyphicon-download"></i></button>      
  </div>
</template>

<script>
export default {
  props: {
    rowData: {
      type: Object,
      required: true
    },
    rowIndex: {
      type: Number
    }
  },
  methods: {
    itemAction (action, data, index) {
      if (action == 'delete') {
        this.$toasted.show("Delete " + data.title + " ?", { 
          theme: "primary", 
          position: "top-center", 
          action : [
            {
              text : 'Delete',
              onClick : (e, toastObject) => {
                  toastObject.goAway(0);
                  this.$parent.$parent.persistItem('delete','/movie/' + data.id);
              }
            },
            {
              text : 'Cancel',
              onClick : (e, toastObject) => {
                  toastObject.goAway(0);
              }
            }
          ],
        });  
      }else{
        this.$parent.$parent.showRepectiveEditModal(data);
      }
    },
    pushFile (data) {
      data.push = true;
      this.$parent.$parent.persistItem('post', '/push', data);
    },
    unpushFile(data) {
      data.push = false;
      this.$parent.$parent.persistItem('post', '/push', data);
    }
  }
}
</script>

<style>
  .custom-actions button.ui.button {
    padding: 8px 8px;
  }
  .custom-actions button.ui.button > i.icon {
    margin: auto !important;
  }
</style>
