<template>
  <div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading panel-title">
          Genres
          <button class="btn btn-primary pull-right" @click="showModal()">Add</button>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-condensed">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(genre, index) in genres" :key="genre.id">
                  <td>{{index + 1 }}</td>
                  <td>
                    <div class="genrename">
                      {{genre.name}}
                    </div>
                  <td>
                    <div class="btn-group">
                      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" @click="remove(genre.id, genre.name)">
                        Remove
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
    <genre-modal/>
  </div>
</template>
<script>
import GenreModal from './modal/genre_modal.vue'

export default {
  components: {
    GenreModal
  },
  data() {
    return {
      genres:[],
      form: {
        name:'',
      }
    }
  },
  mounted: function (){
    this.getGenres()
  },
  methods: {
    getGenres () {
      axios.get('/genres')
        .then(response => {
            this.genres = response.data
        })
        .catch(error => {
          console.log(error);
        });
    },
    remove (id, name) {
      this.$toasted.show("Delete " + name + " ?", { 
        theme: "primary", 
        position: "top-center", 
        action : [
          {
            text : 'Delete',
            onClick : (e, toastObject) => {
              toastObject.goAway(0);
              axios.delete('/genre/' + id)
                .then(response => {
                  this.getGenres()
                  console.log(response)
                })
                .catch(error => {
                  console.log(error);
                });
            }
          },
          {
            text : 'Cancel',
            onClick : (e, toastObject) => {
                toastObject.goAway(0);
            }
          }
        ],
      });
    }, 
    showModal () {
      this.$modal.show('genre', {button: {text :'Add'}})
    }
  }
}
</script>