<template>
<modal name="episode" class="modal-content" transition="pop-out" @before-open="beforeOpen"  height="auto" width="50%" :resizable="true">
    <div class="modal-header"><h3><b>{{button.text}} {{item}}</b></h3></div>
    <div class="modal-body">
        <form>
            <div class="form-horizontal">
                <!-- title -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Number</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" v-model="form.number">
                    </div>
                </div>

                <!-- title -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Title</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" v-model="form.title">
                    </div>
                </div>

                <div class="form-group">
                    <!-- videos -->
                    <label class="col-md-2 control-label">Video File</label>
                    <div class="col-md-9">
                        <multiselect v-model="form.videofile" :options="videofiles" :custom-label="nameWithLang" 
                                placeholder="Select file" label="name" track-by="id" 
                                :multiple="false" :hide-selected="false" :close-on-select="true">
                            <span class="custom__tag"><span>{{ videofiles.name }}</span><span class="custom__remove" >❌</span></span>
                        </multiselect>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button v-if="button.text != 'Add' " class="btn btn-danger" @click="DeleteItem()">Delete</button>
        <button class="btn btn-primary" @click="addItem()">{{button.text}}</button>
        <button v-show="button.text != 'Add'" v-if="!form.pushed" class="btn btn-sm" @click="pushFile(form)">Push <i class="glyphicon glyphicon-upload"></i></button>
        <button v-else class="btn btn-sm" @click="unpushFile(form)" v-show="button.text != 'Add'">Unpush <i class="glyphicon glyphicon-download"></i></button>        
    </div>
</modal>
</template>
<script>
import multiselect from 'vue-multiselect';

export default {
    name: 'EpisodeModal',
    components: {
        'multiselect': multiselect
    },
    data(){
        return {
            action : "",
            item : "",
            button : {
                text : ""
            },
            genres:[],
            videofiles: [],
            imagesfiles: [],
            form: {
                errors: [],
                number: '',
                title: '',
                videofile: [],
                season_id: '',
                pushed: ''
            },
        }
    }, 
    methods: {
        /**
         * function to be called for mutliselectvue component
         * @return the name of the item select to be displayed
         */
        nameWithLang ({ id, name }) {
            return `${name}`
        },
        /**
         *  
         * @param  event on open depending if its add reset for and set action to post
         * else set action to put and load corresponding data to form
         */
        beforeOpen (event) {
            this.refresh()
            this.button.text = event.params.button.text
            console.log( event.params)
            this.item = event.name
            if (this.button.text == "Add"){
                this.action = "post"
                this.form.title = ''
                this.form.number = ''
                this.form.videofile = ''
                this.form.season_id = event.params.data.id
            }else {
                this.action = "put"
                this.form.videofile = event.params.editForm.video
                this.form.title = event.params.editForm.title
                this.form.number = event.params.editForm.number
                this.form.id = event.params.editForm.id
                this.form.pushed = event.params.editForm.pushed
            }
        },
        /**
         * addItem calls parent methid and set parametes accordingly
         */
        addItem () {
            var uri = ""
            if (this.action == "put") {
                uri = '/' + this.item  + '/' + this.form.id
            } else {
                uri = '/' + this.item
            }
            this.$parent.persistItem(this.action, uri, this.form)
        },
        DeleteItem () {
            this.$toasted.show("Delete Episode " + this.form.number + " ?", { 
              theme: "primary", 
              position: "top-center", 
              action : [
                {
                  text : 'Delete',
                  onClick : (e, toastObject) => {
                      toastObject.goAway(0);
                      this.$parent.persistItem('delete', '/episode/' + this.form.id )
                      this.$modal.hide('episode') 
                  }
                },
                {
                  text : 'Cancel',
                  onClick : (e, toastObject) => {
                      toastObject.goAway(0);
                  }
                }
              ],
            });
        },
        refresh () {
            axios.get('/episodesinfos')
            .then(response => {
                this.videofiles = response.data.videos
            })
            .catch(error => {
              console.log(error);
            });
        },
        pushFile (data) {
          data.push = true;
          this.$parent.persistItem('post', '/push/episode', data);
          this.$modal.hide('episode') 
        },
        unpushFile(data) {
          data.push = false;
          this.$parent.persistItem('post', '/push/episode', data);
          this.$modal.hide('episode') 
        }
    }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
