<template>
    <modal name="genre" class="modal-content" transition="pop-out" @before-open="beforeOpen"  height="auto" :scrollable="true">
        <div class="modal-header">{{button.text}} {{item}}</div>
        <div class="modal-body">
            <form>
                <div class="form-horizontal">
                    <!-- title -->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Name</label>

                        <div class="col-md-7">
                            <input type="text" class="form-control" v-model="form.name">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
        <button class="btn btn-primary" @click="addItem()">{{button.text}}</button>
        </div>
    </modal>
</template>
<script>
export default {
    name: 'GenreModal',
    data(){
        return {
            action : "",
            item : "",
            button : {
                text : ""
            },
            genres:[],
            videofiles: [],
            imagesfiles: [],
            form: {
                errors: [],
                name: '',
            },
        }
    },
    methods: {
        /**
         * sets post as action and clears for.name to add a new form
         * put method not used for the simplesity of the component
         */
        beforeOpen (event) {
            this.button.text = event.params.button.text
            this.item = event.name
            this.action = "post"
            this.form.name = ''
        },
        /**
         * directly add genre with the need to call the parent component
         * since its a very simple add or delete page without the need to modify
         */
        addItem () {
            axios.post('/genre', this.form)
            .then(response => {
                this.form.name = ''
                this.genres = response.data
                this.$parent.getGenres()
            })
            .catch(error => {
              console.log(error);
            });
    },
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
