<template>
<modal name="season" class="modal-content" transition="pop-out" @before-open="beforeOpen"  height="auto" :scrollable="true">
    <div class="modal-header">
        <h3>
            <b>{{button.text}} {{item}}</b>
        </h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="form-horizontal">
                <!-- title -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Season Number</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" v-model="form.number">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button v-if="button.text != 'Add' " class="btn btn-danger" @click="DeleteItem()">
            Delete
        </button>
        <button class="btn btn-primary" @click="addItem()">
            {{button.text}}
        </button>
    </div>
</modal>
</template>
<script>
export default {
    name: 'SeasonModal',
    data(){
        return {
            action : "",
            item : "",
            button : {
                text : ""
            },
            series_id: '',
            season_id: '',
            form: {
                errors: [],
                number: '',
            },
        }
    },
    methods: {
        /**
         *  
         * @param  event on open depending if its add reset for and set action to post
         * else set action to put and load corresponding data to form
         */
        beforeOpen (event) {
            this.button.text = event.params.button.text
            this.item = event.name
            if (this.button.text == "Add"){
                this.action = "post"
                this.form.number =  ''
                this.series_id = event.params.data.id
            }else {
                this.action = "put"
                this.season_id = event.params.editForm.id
                this.form.number =  event.params.editForm.number
                this.series_id = event.params.editForm.series_id
            }
        },
        /**
         * addItem calls parent methid and set parametes accordingly
         */
        addItem () {
            var uri = ""
            if (this.action == 'put') {
                uri = '/series/season/' + this.season_id
            } else {
                uri = '/series/' + this.series_id    
            }
            
            this.$parent.persistItem(this.action, uri, this.form)
        },
        DeleteItem () {
            this.$toasted.show("Delete Season " + this.form.number + " ?", { 
              theme: "primary", 
              position: "top-center", 
              action : [
                {
                  text : 'Delete',
                  onClick : (e, toastObject) => {
                      toastObject.goAway(0);
                      this.$parent.persistItem('delete', '/season/' + this.season_id )
                      this.$modal.hide('season') 
                  }
                },
                {
                  text : 'Cancel',
                  onClick : (e, toastObject) => {
                      toastObject.goAway(0);
                  }
                }
              ],
            });
        }
    }
}
</script>
