<template>
<modal name="series" class="modal-content" transition="pop-out" @before-open="beforeOpen"  height="auto" width="50%" :scrollable="true">
    <div class="modal-header"><h3><b>{{button.text}} {{item}}</b></h3></div>
    <div class="modal-body">
        <form>
            <div class="form-horizontal">
                <!-- title -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Title</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" v-model="form.title">
                    </div>
                </div>

                <!-- trailer -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Trailer File</label>
                    <div class="col-md-9">
                        <multiselect v-model="form.trailer" :options="videofiles" :custom-label="nameWithLang" 
                                placeholder="Select file" label="name" track-by="id" 
                                :multiple="false" :hide-selected="false" :close-on-select="true">
                            <span class="custom__tag"><span>{{ videofiles.name }}</span><span class="custom__remove" >❌</span></span>
                        </multiselect>
                    </div>
                </div>

                <!-- image -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Poster</label>
                     <div class="col-md-9">
                        <multiselect v-model="form.poster" :options="imagesfiles" :custom-label="nameWithLang" 
                                placeholder="Select file" label="name" track-by="id" 
                                :multiple="false" :hide-selected="false" :close-on-select="true">
                            <span class="custom__tag"><span>{{ imagesfiles.name }}</span><span class="custom__remove" >❌</span></span>
                        </multiselect>
                    </div>
                </div>
                
                <!-- genres -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Genre</label>
                     <div class="col-md-9">
                        <multiselect v-model="form.genres" :options="genres" :custom-label="nameWithLang" 
                                placeholder="Select genres" label="name" track-by="name" 
                                :multiple="true" :hide-selected="true" :close-on-select="false">
                            <span class="custom__tag"><span>{{ genres.name }}</span><span class="custom__remove" >❌</span></span>
                        </multiselect>
                    </div>
                </div>
                <!-- imdb_id -->
                <div class="form-group">
                    <label class="col-md-2 control-label">IMDB id</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" v-model="form.imdbid">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <!-- pg_lvl -->
                        <label class="col-md-2 control-label">PG level</label>
                        <div class="col-md-2">
                            <input type="number" class="form-control" v-model="form.pglvl">
                        </div>
                        <!-- price3days -->
                        <label class="col-md-3 control-label">Price 3 days</label>
                        <div class="col-md-3">
                            <input type="number" class="form-control" v-model="form.price3days">
                        </div>
                    </div>            
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <!-- Original Price -->
                        <label class="col-md-2 control-label">Original Price</label>
                        <div class="col-md-2">
                            <input type="number" class="form-control" v-model="form.originalprice">
                        </div>
                        <!-- discounted_price -->
                        <label class="col-md-3 control-label">Discounted Price</label>
                        <div class="col-md-3">
                            <input type="number" class="form-control" v-model="form.discountedprice">
                        </div>
                    </div>    
                </div>
                
                
                <div class="form-group">
                    <div class="form-inline">
                        <!-- audio_language -->
                        <label class="col-md-2 control-label">Audio Language</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" v-model="form.audiolanguage">
                        </div>
                        <!-- subtitle_language -->
                        <label class="col-md-3 control-label">Subtitle Language</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" v-model="form.subtitlelanguage">
                        </div>
                    </div>
                </div>

                
                <div class="form-group">
                    <div class="form-inline">
                        <!-- year -->
                        <label class="col-md-2 control-label">Year</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" v-model="form.year">
                        </div>  
                    </div>
                    
                </div>

                <!-- directors -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Directors</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" v-model="form.directors">
                    </div>
                </div>

                <!-- stars -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Stars</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" v-model="form.stars">
                    </div>
                </div>

                <!-- introduction -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Introduction</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" v-model="form.introduction">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-9">
                        <label class="checkbox-inline"><input type="checkbox" v-model="form.available">Available</label>
                    <label class="checkbox-inline"><input type="checkbox" v-model="form.freetovip">Free To VIP</label>
                    <label class="checkbox-inline"><input type="checkbox" v-model="form.recommended">Recommended</label>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" @click="addItem()">{{button.text}}</button>
    </div>
</modal>
</template>
<script>
import multiselect from 'vue-multiselect';

export default {
    name: 'SeriesModal',
    components: {
        'multiselect': multiselect
    },
    data(){
        return {
            action : "",
            item : "",
            button : {
                text : ""
            },
            genres:[],
            videofiles: [],
            imagesfiles: [],
            form: {
                errors: [],
                id: '',
                title: '',
                image: '',
                genres: [],
                imdbid: '',
                available: false,
                trailer: [],
                pglvl: 0,
                price3days: 0,
                originalprice: 0,
                discountedprice: 0,
                freetovip: false,
                audiolanguage: '',
                subtitlelanguage: '',
                recommended: true,
                poster: '',
                directors: '',
                stars: '',
                introduction: '',
                year: 0
            },
        }
    },
    methods: {
        /**
         * function to be called for mutliselectvue component
         * @return the name of the item select to be displayed
         */
        nameWithLang ({ id, name }) {
            return `${name}`
        },
        /**
         *  
         * @param  event on open depending if its add reset for and set action to post
         * else set action to put and load corresponding data to form
         */
        beforeOpen (event) {
            this.refresh();
            this.button.text = event.params.button.text
            this.item = event.name
            this.refresh()
            if (this.button.text == "Add"){
                this.action = "post"
                this.form.title = ''
                this.form.poster = ''
                this.form.id = ''
                this.form.errors = ''
                this.form.genres = []
                this.form.videofile = ''
                this.form.trailer = ''
                this.form.imdbid = ''
                this.form.available = false
                this.form.pglvl = 0
                this.form.price3days = 0
                this.form.originalprice = 0
                this.form.discountedprice = 0
                this.form.freetovip = false
                this.form.audiolanguage = ''
                this.form.subtitlelanguage = ''
                this.form.recommended = true
                this.form.duration = ''
                this.form.directors = ''
                this.form.stars = ''
                this.form.introduction = ''
                this.form.year = 0
            }else {
                this.action = "put"
                this.form.imdbid = event.params.editForm.imdb_id
                this.form.available = event.params.editForm.available
                this.form.pglvl = event.params.editForm.pg_lvl
                this.form.price3days = event.params.editForm.price3days
                this.form.originalprice = event.params.editForm.original_price
                this.form.discountedprice = event.params.editForm.discounted_price
                this.form.freetovip = event.params.editForm.free_to_vip
                this.form.audiolanguage = event.params.editForm.audio_language
                this.form.subtitlelanguage = event.params.editForm.subtitle_language
                this.form.recommended = event.params.editForm.recommended
                this.form.title = event.params.editForm.title
                this.form.id = event.params.editForm.id
                this.form.genres = event.params.editForm.genres
                this.form.poster = event.params.editForm.poster
                this.form.trailer = event.params.editForm.trailer
                this.form.videofile = event.params.editForm.videofile
                this.form.duration = event.params.editForm.duration
                this.form.directors = event.params.editForm.directors
                this.form.stars = event.params.editForm.stars
                this.form.introduction = event.params.editForm.introduction
                this.form.year = event.params.editForm.year
            }
        },
        /**
         * addItem calls parent methid and set parametes accordingly
         */
        addItem () {
            var uri = ""
            if (this.action == "put") {
                uri = '/' + this.item  + '/' + this.form.id
            } else {
                uri = '/' + this.item
            }
            this.$parent.persistItem(this.action, uri, this.form)
        },
        /**
         * refresh is called on mount
         * set genres videofiles and imagefiles that are not assigned
         */
        refresh () {
            axios.get('/seriesinfos')
            .then(response => {
                this.genres = response.data.genres
                this.videofiles = response.data.videos
                this.imagesfiles = response.data.images
            })
            .catch(error => {
              console.log(error);
            });
        }
    }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
